*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    
    font-family: 'Inter', sans-serif;
    background-color: #000;
}

body, 
html 
{
    height: 100%;
    display: grid;
    place-items: center;
}

.bg
{
    height: 800px;
    width: 1440px;
    /* background-image: url(../images/desktop/bg-image-daytime_expand.png); */
    background-image: url(../images/desktop/desktopDaytime.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
}
.top,
.bottom,
.expand
{

    padding-left: 165px;
    padding-right: 165px;
}


.top,
.bottom
{
    display: flex;
    width: 100%;
}

.top
{
    height: 50%;
    transition: height 0.3s;
}

.bottom
{
    height: 50%;
}

.bottom_container
{
    display: flex;
    width: 100%;
}

.bottom_content
{
    width: 100%;
    display: flex;
    height: fit-content;
}

.phrase
{
    margin-top: 57px;
    width: 540px;
    color: var(--daytime-white);
}

.phrase p
{
    margin-top: 13px;
}

.refresh_btn
{
    margin-top: 66px;
    margin-left: 15px;
    opacity: 0.5;
    fill: #fff;
    height: fit-content;
}

.refresh_btn svg
{
    cursor: pointer;
}



.greeting
{
    display: flex;
    margin-top: 14px;
}

.greeting_content
{
    color: var(--daytime-white);
    margin-left: 17px;
}

.hour
{
    color: var(--daytime-white);
    margin-top: 16px;
}

.time_zone
{
    margin-left: 13px;
    color: var(--daytime-white);
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 70% */
    text-transform: uppercase;
}



.location
{
    margin-top: 17px;
    color: var(--daytime-white);
}

.bottom .left
{
    flex: 1;
}

.bottom .right
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.more_btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 56px;
    border-radius: 28px;
    background-color: #FFF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.more_btn:hover,
.more_btn:hover svg circle
{
    color: #999;
    fill: #999;
}

.more_btn span
{
    margin-right: 8px;
    margin-left: 12px;
}

.expand
{
    opacity: 0.3;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20.387113571166992px);
    transition: height 0.3s;
}

.expand_container
{
    width: 100%;
    height: 252px;
    display: none;
    transition: opacity 0.4s;
}

.expand_left
{
    width: 571px;
    border-right: 1px solid rgba(48, 48, 48, 0.3);
}

.expand_right
{
    flex: 1;
    padding-left: 94px;
}


.expand_title
{
    color: var(--nighttime-white);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.expand_content
{
    color: var(--nighttime-white);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 42px;
}

